[user]
	name = adiletelf
	email = 74559101+adiletelf@users.noreply.github.com
[core]
	editor = nvim
	excludesFile = ~/.gitignore

[init]
	defaultBranch = main

[alias]
	# Branches
	br = branch
	sw = switch

	# Commit
	ci = commit
	ca = commit --amend --no-edit
  	cm = commit -m

	# Status
	last = log -1 HEAD
	st = status
	ss = status --short
	go = log --oneline --graph
	goa = log --oneline --graph --all
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

 	# acm = "!cd -- \"${GIT_PREFIX:-.}\" && git add -u && git commit -m $1 #"
  	ac = "!git add -A && git commit -m"

	unstage = reset HEAD --

[http]
	emptyAuth = true
	sslBackend = schannel
[credential "https://git.infocom.lan"]
	provider = gitlab

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
