" Find more examples here: https://jb.gg/share-ideavimrc

" Search for action names
" :actionlist <pattern> 

" Source your .vimrc
" source ~/.vimrc

" set <leader> to <space>
let mapleader = " "

" Ideavim config
nnoremap <leader>vv :e ~\.ideavimrc <CR>
nnoremap <leader>vr :source ~\.ideavimrc <CR>

set easymotion
" Super quick flexible navigation
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

""" Plugins
" Commands: ys, cs, ds, S
" set vim-surround
Plug 'tpope/vim-surround'

" Treat lines with only whitespace as empty lines
" Commands: '{', '}'
set vim-paragraph-motion

" set multiple-cursors
" set commentary
" set argtextobj
" set textobj-entire
" set ReplaceWithRegister
" set exchange

" Common settings
set scrolloff=5
set incsearch
set number relativenumber
set clipboard+=unnamed

" Idea specific settings
set ideajoin


" Tabs
map <C-H> <Action>(PreviousTab)
map <C-L> <Action>(NextTab)
nmap <leader>c <Action>(CloseEditor)

" Bookmarks
nnoremap gm :action ToggleBookmarkWithMnemonic <CR>
nnoremap gb :action ShowBookmarks <CR>

" Navigation
nnoremap gh :action Back <CR>
nnoremap gl :action Forward <CR>
nnoremap gj :action MethodDown <CR>
nnoremap gk :action MethodUp <CR>
nnoremap gs :action GotoSuperMethod <CR>
nmap gi <Action>(GotoImplementation)
nnoremap gd :action GotoDeclaration <CR>
nnoremap gc :action ReSharperGotoContainingDeclaration <CR>
nnoremap g, :action JumpToLastChange <CR>
nnoremap g. :action JumpToNextChange <CR>
nnoremap gr :action RecentFiles <CR>
nnoremap gl :action RecentLocations <CR>
nnoremap ge :action GotoNextError <CR>
nnoremap gE :action GotoPreviousError <CR>
nnoremap <S-Space> :action GotoNextError <CR>
nnoremap <C-G> :action GotoFile <CR>
nnoremap <leader>p :action GotoAction <CR>
nnoremap <leader>gh :action TypeHierarchy <CR>
nnoremap <leader>gc :action GotoClass <CR>
vnoremap <leader>gc :action GotoClass <CR>
nnoremap <leader>go :action GotoSymbol <CR>
vnoremap <leader>go :action GotoSymbol <CR>
nnoremap <leader>gt :action GotoSymbol <CR>
vnoremap <leader>gt :action GotoSymbol <CR>
nnoremap <leader>ww :action HideAllWindows <CR>
nnoremap <leader>gt :action GotoTest <CR>
nnoremap <leader>rc :action RunClass <CR>
nnoremap <leader>ns :action NewScratchFile <CR>
nnoremap <leader>nf :action NewElementSamePlace <CR>
nnoremap <leader>ge :action Generate <CR>
vnoremap <leader>re :action Replace <CR>
nnoremap <leader>re :action Replace <CR>
nnoremap <leader>[ :action MethodUp <CR>
nnoremap <leader>] :action MethodDown <CR>
nnoremap <C-O> :action Back <CR>
nnoremap <C-I> :action Forward <CR>
vnoremap / :action Find<CR>
nnoremap / :action Find<CR>
" nnoremap <A-P> :action JumpToLastWindow <CR>
" nnoremap gp :NERDTree <CR>
" nnoremap ,rc :action ChooseRunConfiguration <CR>
" nnoremap <leader>gq :action QuickList.Git <CR>

map <leader>u <Action>(FindUsages)
map <leader>= <Action>(ReformatCode)
" Reformat the current line only
" map <leader>l V<Action>(ReformatCode)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>bb <Action>(ToggleLineBreakpoint)
map <leader>bl <Action>(ViewBreakpoints)
map <leader>o <Action>(FileStructurePopup)
map <leader>ss <Action>(SelectInProjectView)
map <leader>su <Action>(SurroundWith)

" Git
map <leader>a <Action>(Annotate)
nmap <leader>h <Action>(Vcs.ShowTabbedFileHistory)
nmap vc <Action>(VcsShowCurrentChangeMarker)
nmap vn <Action>(VcsShowNextChangeMarker)
nmap vp <Action>(VcsShowPrevChangeMarker)
nmap vh <Action>(CallHierarchy)

" Key mappings
" Redo
nmap U <C-R>
" nmap L <Action>(NexTab)
" Not working
" nmap H <Action>(PreviousTab)

" Visual block (<C-V> is used for copy-paste)
nnoremap Q <C-V>
